img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}
.icono-btn {
  padding: 0;
  margin: 0;
  background-color: #00eeff00;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}
.icono-btn:hover {
  transform: scale(1.4) rotate(-180deg);
}

.icono-btn span {
  color: #292c32;
  font-size: 40px;
  font-weight: 900;
  padding: 0;
  margin: 0;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 999;
}

.popup {
  background-color: #fff;
  color: #171717;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0 30px 0 30px;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 20px;
  font-size: 40px;
  cursor: pointer;
  border: none;
  background: none;
  color: #abababb0;
}

#secretWord {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 1em;
  margin-top: 1em;
  font-size: 20px;
}
#secretWord div {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#coins {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-top: 0em;
  justify-content: center;
  font-size: 18px;
}

.foundWords {
  position: absolute;
  font-size: 12px;
  color: #f2f2f2;
  top: 86%;
  opacity: 0;
  /* display: none; */
}

.word1_animation {
  animation: word1AnimationV1 3s linear;
}
.word2_animation {
  animation: word2AnimationV2 3s linear;
}
.word3_animation {
  animation: word3AnimationV3 3s linear;
}

.machine__prizes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 45%;
  position: absolute;
  bottom: 0em;
  right: 0em;
  border-left: 4px solid transparent;
  border-image: linear-gradient(to bottom, #969696, #292c32);
  border-image-slice: 1;
}
.machine__prizes img:nth-child(1) {
  width: 2.8em;
}
.machine__prizes img:nth-child(2) {
  width: 2.8em;
}
.machine__prizes img:nth-child(3) {
  width: 2.8em;
  transform: scaleX(-1);
}

.pedestal__prizes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 13%;
  position: absolute;
  bottom: 0em;
  right: 0em;
  z-index: -1;
}

.pedestal__prizes img:nth-child(1) {
  width: 3.3em;
}
.pedestal__prizes img:nth-child(2) {
  width: 3.3em;
  transform: scaleX(-1);
}
.pedestal__prizes img:nth-child(3) {
  width: 3.3em;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* :root {
  font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
} */

body,
button {
  color: #f2f2f2;
  font: bold 1em/1.5 Comfortaa, sans-serif;
  text-align: center;
  text-transform: uppercase;
}

body {
  background: #282828;
}

#rightBtn,
#getBtn {
  display: none;
}

.machine {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.25em;
  box-shadow: -0.4em 0 0 rgba(0, 0, 0, 0.25) inset,
    0.35em 0 0 rgba(255, 255, 255, 0.2) inset, 0 3.5em 0 inset, -1em 0 0 inset,
    0 -6.2em 0 inset, 1em 0 0 inset, 0 -11.6em 0 rgba(128, 128, 128, 0.3) inset;
  color: #c00bda;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  margin: 0em auto 1em auto;
  width: 20em;
  height: 24.5em;
}
.machine input {
  position: fixed;
  top: -1.5em;
  left: -1.5em;
  /* top: 1.5em;
  left: 1.5em; */
}
.machine input:checked ~ .machine__btn {
  filter: brightness(75%);
  -webkit-filter: brightness(75%);
}
.flashBtn {
  animation: flash 1s 6s steps(1) infinite;
}
.machine input:checked ~ .machine__btn:nth-child(7) {
  animation: disappear 1s 5s steps(1) forwards;
  visibility: visible;
}
.machine
  input:checked
  ~ .machine__btn:nth-child(n + 2):nth-child(-n + 5):active
  ~ .machine__window
  .machine__crane-z {
  transform: translateZ(-11.49em);
}
.machine
  input:checked
  ~ .machine__btn:nth-child(n + 2):nth-child(-n + 5):active
  ~ .machine__window
  .machine__crane-x {
  transform: translateX(0.01em);
}
.machine
  input:checked
  ~ .machine__btn:nth-child(n + 2):nth-child(-n + 5):active
  ~ .machine__window
  .machine__crane-claw {
  animation-name: swingClaw2;
  animation-duration: 0s;
}
.machine input:checked ~ .machine__window .machine__crane-z,
.machine input:checked ~ .machine__window .machine__crane-x {
  transition: transform 2s 2.75s linear;
}
.machine input:checked ~ .machine__window .machine__crane-z {
  transform: translateZ(-11.49em);
}
.machine input:checked ~ .machine__window .machine__crane-x {
  transform: translateX(0.009em);
}
.machine input:checked ~ .machine__window .machine__crane-arm,
.machine input:checked ~ .machine__window .machine__crane-claw,
.machine input:checked ~ .machine__window .machine__crane-claw .machine__prize,
.machine input:checked ~ .machine__window .machine__crane-finger,
.machine input:checked ~ .machine__window .machine__crane-palm {
  animation-duration: 5s;
}
.machine input:checked ~ .machine__window .machine__crane-arm,
.machine input:checked ~ .machine__window .machine__crane-claw,
.machine input:checked ~ .machine__window .machine__crane-finger,
.machine input:checked ~ .machine__window .machine__crane-palm {
  animation-timing-function: linear;
}
.machine input:checked ~ .machine__window .machine__crane-arm {
  animation-name: lowerArm;
}

.machine input:checked ~ .machine__window .machine__crane-claw {
  animation-name: swingClaw2;
}
.prize1_animation {
  animation: liftPrize1 6s linear;
}
.prize2_animation {
  animation: liftPrize2 6s linear;
}
.prize3_animation {
  animation: liftPrize3 6s linear;
}
.prize1_miss_animation {
  animation: swingPrize1 1s linear 1s;
}
.prize2_miss_animation {
  animation: swingPrize2 1s linear 1s;
}
.prize3_miss_animation {
  animation: swingPrize3 1s linear 1s;
}

.get-prize-door {
  animation: revealSecretWord 2s linear;
}

.rotate-in-center {
  -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.machine input:checked ~ .machine__window .machine__crane-finger:first-child {
  animation-name: grabA;
}
.machine input:checked ~ .machine__window .machine__crane-finger:nth-child(2) {
  animation-name: grabB;
}
.machine input:checked ~ .machine__window .machine__crane-finger:nth-child(3) {
  animation-name: grabC;
}
.machine input:checked ~ .machine__window .machine__crane-palm {
  animation-name: raisePalm;
}
.machine input:focus ~ .machine__btn:nth-child(6) {
  filter: brightness(125%);
  -webkit-filter: brightness(125%);
}
.machine,
.machine__btn,
.machine__window,
.machine__crane-z,
.machine__crane-claw {
  position: relative;
}
.machine__roof,
.machine__window {
  width: 18rem;
}
.machine__roof,
.machine__btn span,
.fake-btn span {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.machine__btn,
.fake-btn {
  background: #5583f6;
  border-radius: 50%;
  box-shadow: 0 0.375em 0 #255ff4;
  color: #171717;
  cursor: pointer;
  display: block;
  margin: 0 0.125em;
  width: 3em;
  height: 2.25em;
  z-index: 1;
}
.fake-btn {
  cursor: auto;
  filter: brightness(75%);
  -webkit-filter: brightness(75%);
  left: 44%;
}
.machine__btn:active {
  box-shadow: 0 0 0 #255ff4;
  transform: translateY(0.375em);
}
.machine__btn:active ~ .machine__window .machine__crane-z,
.machine__btn:active ~ .machine__window .machine__crane-x {
  transition: transform 2s linear;
}
.machine__btn:focus {
  filter: brightness(125%);
  -webkit-filter: brightness(125%);
  outline: transparent;
}
.machine__btn--red,
.fake-btn {
  background: #f45757;
  box-shadow: 0 0.375em 0 #f22626;
}
.machine__btn--red:active {
  box-shadow: 0 0 0 #f22626;
}
.machine__btn--red:not(:active),
#fire-btn img {
  animation: flash 1s infinite;
}
.machine__btn:nth-child(7),
.machine__btn span,
.fake-btn span {
  position: absolute;
  box-shadow: 0 0 0 #f22626;
}
.machine__btn:nth-child(7) {
  top: 17.5em;
  right: 0.875em;
  visibility: hidden;
}
.machine__btn span {
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}
.fake-btn span {
  display: inline-block;
  transform: translate(-50%, -50%);
}
.machine__btn:nth-child(2):active ~ .machine__window .machine__crane-claw,
.machine__btn:nth-child(4):active ~ .machine__window .machine__crane-claw {
  animation: swingClaw1 1s linear infinite reverse;
}
.machine__btn:nth-child(3):active ~ .machine__window .machine__crane-claw,
.machine__btn:nth-child(5):active ~ .machine__window .machine__crane-claw {
  animation: swingClaw1 1s linear infinite;
}
.machine__btn:nth-child(2):active ~ .machine__window .machine__crane-x {
  transform: translateX(0.009em);
}
.machine__btn:nth-child(3):active ~ .machine__window .machine__crane-x {
  transform: translateX(22.6em);
}
.machine__btn:nth-child(4):active ~ .machine__window .machine__crane-z {
  transform: translateZ(-11.49em);
}
.machine__btn:nth-child(5):active ~ .machine__window .machine__crane-z {
  transform: translateZ(-0.01em);
}
.machine__roof {
  background: #ffd77e;
  color: #3c2c01;
  cursor: default;
  font-size: 1.25em;
  height: 2rem;
  margin: 0.75rem;
  padding-top: 0.2rem;
  order: -2;
}

.machine__window {
  box-shadow: 0.25em 0 0 rgba(255, 255, 255, 0.2),
    -0.25em 0 0 rgba(0, 0, 0, 0.25);
  height: 15em;
  order: -1;
  overflow: hidden;
  margin-bottom: 1em;
  perspective: 20em;
  z-index: -1;
}
.machine__crane-finger,
.machine__crane-palm,
.machine__prize {
  position: absolute;
}
.machine__crane-z,
.machine__crane-x {
  transition: transform 10000s linear;
}
.machine__crane-z {
  left: -4em;
  transform: translateZ(-11.5em);
  z-index: 1;
}
.machine__crane-x {
  width: 3em;
  height: 14em;
  transform: translateX(0);
}
.machine__crane-arm {
  background: linear-gradient(#969696, #969696) 50% 0/0.25em 100%;
  margin: auto;
  width: 100%;
  /* height: 8em; */
  height: 17em;
  /* transform: translateY(-11em); */
  transform: translateY(-20em);
}
.machine__crane-claw {
  background: linear-gradient(#969696, #969696) 50% 1em/1.5em 0.25em,
    linear-gradient(
        -80deg,
        rgba(150, 150, 150, 0) 38%,
        #969696 41% 64%,
        rgba(150, 150, 150, 0) 67%
      )
      0.25em 1em/1em 2em,
    linear-gradient(
        80deg,
        rgba(150, 150, 150, 0) 38%,
        #969696 41% 64%,
        rgba(150, 150, 150, 0) 67%
      )
      1.75em 1em/1em 2em,
    linear-gradient(#636363, #636363) 50% 0/1em 0.75em,
    linear-gradient(#575757, #575757) 50% 0.75em/0.75em 1.5em,
    linear-gradient(#969696, #969696) 50% 2.25em/0.5em 0.5em;
  transform-origin: 50% 0;
  top: 17em;
  width: 100%;
  height: 6em;
}
.machine__crane-arm,
.machine__crane-claw {
  background-repeat: no-repeat;
}
.machine__crane-finger {
  color: #969696;
  top: 3em;
  width: 1.5em;
  height: 3em;
}
.machine__crane-finger:first-child,
.machine__crane-finger:nth-child(3) {
  border-top: 0.25em solid;
}
.machine__crane-finger:first-child {
  border-radius: 100% 0 0 100%/35% 0 0 50%;
  border-left: 0.5em solid;
  left: 0;
  transform: rotate(30deg);
  transform-origin: 100% 0;
}
.machine__crane-finger:nth-child(2) {
  background: #7d7d7d;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  left: calc(50% - 0.25em);
  width: 0.5em;
  transform: scaleY(0.67);
  transform-origin: 50% 0;
}
.machine__crane-finger:nth-child(3) {
  border-radius: 0 100% 100% 0/0 35% 50% 0;
  border-right: 0.5em solid;
  right: 0;
  transform: rotate(-30deg);
  transform-origin: 0 0;
}
.machine__crane-palm {
  background: #a3a3a3;
  border-radius: 0.25em;
  top: 2.75em;
  left: calc(50% - 0.625em);
  width: 1.25em;
  height: 0.5em;
}
.machine__prize {
  background: #2a5ad5;
  border-radius: 50%;
  box-shadow: -0.25em -0.25em 0 rgba(0, 0, 0, 0.25) inset;
  opacity: 0;
  top: calc(100% - 2em);
  left: calc(50% - 1em);
  width: 2em;
  height: 2em;
}
.machine__op-area {
  /* background: linear-gradient(
        90deg,
        black 0.25em,
        transparent 0.25em 0.5em,
        #806114 0.5em 1em,
        transparent 1em 7.5em,
        black 7.5em 7.75em,
        transparent 7.75em 8em,
        #806114 8em
      )
      50% 5.25em/8.5em 1em,
    linear-gradient(
        90deg,
        #242424 1.5em,
        transparent 1.5em 7.5em,
        #242424 7.5em
      )
      50% 5em/9em 1.5em,
    linear-gradient(90deg, #3d3d3d 1em, transparent 1em 7.5em, #3d3d3d 7.5em)
      50% 7.5em/8.5em 1em,
    linear-gradient(
        90deg,
        #242424 1.5em,
        transparent 1.5em 7.5em,
        #242424 7.5em
      )
      50% 7.25em/9em 1.5em;
  background-repeat: no-repeat; */
  margin: -2.45em 0em 0em 0em;
  width: 8em;
  height: 5em;
  position: relative;
  left: 14.4%;
  top: 8%;
}
.machine__op-area,
.machine__op-area:before {
  border-top: 1.5em solid #ffd77e;
  border-right: 0.25em solid rgba(0, 0, 0, 0.25);
  border-bottom: 1em solid rgba(0, 0, 0, 0.3);
  border-left: 0.25em solid rgba(255, 255, 255, 0.2);
}
.machine__op-area:before {
  content: "";
  display: block;
  margin: auto;
  height: 0em;
}
.machine__prize-door,
.machine__vents {
  width: 3em;
  height: 3em;
}
.machine__prize-door {
  background: #969696;
  border-radius: 0.375em;
  box-shadow: 0.2em 0.2em 0.4em rgba(0, 0, 0, 0.55) inset;
  margin: 0 auto 0 1.5em;
  position: relative;
  left: -57%;
  bottom: -2%;
  overflow: hidden;
  position: relative;
}
.machine__vents {
  background: radial-gradient(100% 100% at center, black 33%, transparent 35%) 0
    0/25% 25%;
  margin: 1.44em 0.9em 0 0;
}
.machine__feet {
  background: linear-gradient(
        90deg,
        #a3a3a3 2em,
        transparent 2em 15em,
        #a3a3a3 15em
      )
      0 100%/100% 50%,
    linear-gradient(
      90deg,
      transparent 0.5em,
      #969696 0.5em 1.5em,
      transparent 1.5em 15.5em,
      #969696 15.5em 16.5em,
      transparent 16.5em
    );
  background-repeat: no-repeat;
  position: absolute;
  top: 100%;
  left: 1.6em;
  width: 17em;
  height: 1em;
}

/* Button labels */
.right-arrow,
.down-arrow,
.left-arrow,
.up-arrow {
  width: 0;
  height: 0;
}

.right-arrow {
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  border-left: 1em solid;
}

.down-arrow {
  border-top: 0.75em solid;
  border-right: 0.75em solid transparent;
  border-left: 0.75em solid transparent;
}

.left-arrow {
  border-top: 0.5em solid transparent;
  border-right: 1em solid;
  border-bottom: 0.5em solid transparent;
}

.up-arrow {
  border-right: 0.75em solid transparent;
  border-bottom: 0.75em solid;
  border-left: 0.75em solid transparent;
}

.sr {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  width: 1px;
  height: 1px;
}

/* Animation */
@keyframes lowerArm {
  from,
  44%,
  to {
    transform: translateY(-20em);
  }
  20%,
  30% {
    transform: translateY(-10em);
  }
}
@keyframes swingClaw1 {
  from,
  to {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}
@keyframes swingClaw2 {
  from,
  20%,
  30%,
  to {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(5deg);
  }
  15% {
    transform: rotate(-5deg);
  }
}
@keyframes swingPrize1 {
  from,
  20%,
  30%,
  to {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(10deg);
  }
  15% {
    transform: rotate(-10deg);
  }
}
@keyframes swingPrize2 {
  from,
  20%,
  30%,
  to {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(10deg);
  }
  15% {
    transform: rotate(-10deg);
  }
}
@keyframes swingPrize3 {
  from,
  20%,
  30%,
  to {
    transform: scaleX(-1) rotate(0deg);
  }
  5% {
    transform: scaleX(-1) rotate(10deg);
  }
  15% {
    transform: scaleX(-1) rotate(-10deg);
  }
}

@keyframes grabA {
  from,
  20%,
  to {
    transform: translateY(0) rotate(30deg);
  }
  25%,
  95% {
    transform: translateY(-0.5em) rotate(0);
  }
}
@keyframes grabB {
  from,
  20%,
  to {
    transform: translateY(0) scaleY(0.67);
  }
  25%,
  95% {
    transform: translateY(-0.5em) scaleY(1);
  }
}
@keyframes grabC {
  from,
  20%,
  to {
    transform: translateY(0) rotate(-30deg);
  }
  25%,
  95% {
    transform: translateY(-0.5em) rotate(0);
  }
}
@keyframes raisePalm {
  from,
  20%,
  to {
    transform: translateY(0);
  }
  25%,
  95% {
    transform: translateY(-0.5em);
  }
}
@keyframes liftPrize1 {
  25% {
    opacity: 1;
    transform: translate(0, 0);
  }
  37% {
    opacity: 1;
    transform: translate(0, -6.6em);
  }
  45% {
    opacity: 1;
    transform: translate(0, -6.6em);
  }
  80% {
    opacity: 1;
    transform: translate(-4.5em, -6.6em);
  }
  81% {
    opacity: 1;
    transform: translate(-4.5em, -6.6em);
  }
  90% {
    opacity: 1;
    transform: translate(-4.5em, 4em);
  }
  100% {
    opacity: 0;
    transform: translate(-4.5em, 5em);
  }
}

@keyframes liftPrize2 {
  25% {
    opacity: 1;
    transform: translate(0, 0);
  }
  37% {
    opacity: 1;
    transform: translate(0, -6.6em);
  }
  45% {
    opacity: 1;
    transform: translate(0, -6.6em);
  }
  80% {
    opacity: 1;
    transform: translate(-9.3em, -6.6em);
  }
  81% {
    opacity: 1;
    transform: translate(-9.3em, -6.6em);
  }
  90% {
    opacity: 1;
    transform: translate(-9.3em, 4em);
  }
  100% {
    opacity: 1;
    transform: translate(-9.3em, 5em);
  }
}
@keyframes liftPrize3 {
  25% {
    opacity: 1;
    transform: scaleX(-1) translate(0, 0);
  }
  37% {
    opacity: 1;
    transform: scaleX(-1) translate(0, -6.6em);
  }
  45% {
    opacity: 1;
    transform: scaleX(-1) translate(0, -6.6em);
  }
  80% {
    opacity: 1;
    transform: scaleX(-1) translate(14.2em, -6.6em);
  }
  81% {
    opacity: 1;
    transform: scaleX(-1) translate(14.2em, -6.6em);
  }
  90% {
    opacity: 1;
    transform: scaleX(-1) translate(14.2em, 4em);
  }
  100% {
    opacity: 1;
    transform: scaleX(-1) translate(14.2em, 5em);
  }
}

@keyframes revealSecretWord {
  0% {
    top: -50px;
  }
  15% {
    top: 0px;
  }
  90% {
    top: 0px;
  }
  100% {
    opacity: 0;
    top: 0px;
  }
}

@keyframes word1AnimationV1 {
  0% {
    opacity: 0;
    transform: translate(0em, 0em);
  }
  40% {
    opacity: 1;
    transform: translate(0em, 0em);
  }
  90% {
    opacity: 1;
    transform: translate(6em, -33em);
  }
  100% {
    opacity: 0;
    transform: translate(6em, -33em);
  }
}
@keyframes word2AnimationV2 {
  0% {
    opacity: 0;
    transform: translate(0em, 0em);
  }
  40% {
    opacity: 1;
    transform: translate(0em, 0em);
  }
  90% {
    opacity: 1;
    transform: translate(10em, -33em);
  }
  100% {
    opacity: 0;
    transform: translate(10em, -33em);
  }
}
@keyframes word3AnimationV3 {
  0% {
    opacity: 0;
    transform: translate(0em, 0em);
  }
  40% {
    opacity: 1;
    transform: translate(0em, 0em);
  }
  90% {
    opacity: 1;
    transform: translate(12em, -33em);
  }
  100% {
    opacity: 0;
    transform: translate(12em, -33em);
  }
}

@keyframes disappear {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes flash {
  from,
  to {
    visibility: visible;
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
  }
  50% {
    visibility: visible;
    filter: brightness(200%);
    -webkit-filter: brightness(200%);
  }
}

@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
